@font-face {
  font-family: 'PolySans';
  src: url('/fonts/PolySans/PolySans%20Neutral.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('/fonts/PolySans/PolySans%20Neutral%20Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PolySans';
  src: url('/fonts/PolySans/PolySans-Median.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySansGX';
  src: url('/fonts/PolySans/PolySansGX.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PolySansGX';
  src: url('/fonts/PolySans/PolySansItalicGX.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* PP Editorial New Font Family */
@font-face {
  font-family: 'PP Editorial New';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial New';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-UltralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial New';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial New';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial New';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-Ultrabold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial New';
  src: url('/fonts/PPEditorialNew/PPEditorialNew-UltraboldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}